<section class="practices">
    <div class="container">
        <div class="practices__block">
            <div class="block__title">
                <h2>Area of Practices</h2>
            </div>
            <div class="block__list cases">
                <a href="#" class="case__item wide" style="background-image: url('images/law-1.png')">
                    <h3>BUSINESS LAW</h3>
                </a>
                <a href="#" class="case__item" style="background-image: url('images/partnership-law.png')">
                    <h3>Partnership LAW</h3>
                </a>
                <a href="#" class="case__item" style="background-image: url('images/real-state.png')">
                    <h3>REAL ESTATE LAW</h3>
                </a>
                <a href="#" class="case__item wide" style="background-image: url('images/law-2.png')">
                    <h3>BUSINESS LAW</h3>
                </a>
                <a href="#" class="case__item wide" style="background-image: url('images/land.png')">
                    <h3>LANDLORD DISPUTES</h3>
                </a>
                <a href="#" class="case__item" style="background-image: url('images/elder.png')">
                    <h3>ELDER ABUSE</h3>
                </a>
            </div>
        </div>
    </div>
</section>
