<section class="faq">
    <div class="container">
        <div class="faq__title">
            <h2>FAQ</h2>
        </div>
        <div class="faq__block">
            <div class="faq__left">
                <p>Amet minim mollit non deserunt ullamco est sit
                    aliqua dolor do amet sint. </p>
            </div>
            <div class="faq__right faq__answers">
                <div class="faq__item" id="content1">
                    <div class="faq__qest">
                        <h3>Do I need a personal injury report?</h3>
                        <div class="qest__open" id="1">+</div>
                    </div>
                    <div class="faq__dropdown-content">
                        <p>Amet minim mollit non deserunt ullamco est sit
                            aliqua dolor do amet sint. Velit officia consequatduis
                            enim velit mollit Exer. Amet minim mollit non deserunt
                            ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.</p>
                    </div>
                </div>
                <div class="faq__item" id="content2">
                    <div class="faq__qest">
                        <h3>How much is my case worth?</h3>
                        <div class="qest__open" id="2">+</div>
                    </div>
                    <div class="faq__dropdown-content">
                        <p>Amet minim mollit non deserunt ullamco est sit
                            aliqua dolor do amet sint. Velit officia consequatduis
                            enim velit mollit Exer. Amet minim mollit non deserunt
                            ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.</p>
                    </div>
                </div>
                <div class="faq__item" id="content3">
                    <div class="faq__qest">
                        <h3>What should I do right after car accidect</h3>
                        <div class="qest__open" id="3">+</div>
                    </div>
                    <div class="faq__dropdown-content">
                        <p>Amet minim mollit non deserunt ullamco est sit
                            aliqua dolor do amet sint. Velit officia consequatduis
                            enim velit mollit Exer. Amet minim mollit non deserunt
                            ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.</p>
                    </div>
                </div>
                <div class="faq__item" id="content4">
                    <div class="faq__qest">
                        <h3>How much is my case worth?</h3>
                        <div class="qest__open" id="4">+</div>
                    </div>
                    <div class="faq__dropdown-content">
                        <p>Amet minim mollit non deserunt ullamco est sit
                            aliqua dolor do amet sint. Velit officia consequatduis
                            enim velit mollit Exer. Amet minim mollit non deserunt
                            ullamco est sit aliqua dolor do amet sint. Velit officia consequatduis enim velit mollit Exer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
