@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;

500;600;700;900&display=swap");
@font-face {
  font-family: "Helvetica Now Display";
  src: local("Helvetica Now Display Medium"), local("Helvetica-Now-Display-Medium"), url("/fonts/HelveticaNowDisplay-Medium.woff2") format("woff2"), url("/fonts/HelveticaNowDisplay-Medium.woff") format("woff"), url("/fonts/HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: local("Helvetica Now Display Regular"), local("Helvetica-Now-Display-Regular"), url("/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"), url("/fonts/HelveticaNowDisplay-Regular.woff") format("woff"), url("/fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background-color: #1D1D1D;
  color: #fff;
}

.body-scroll {
  overflow: hidden;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 66px;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
}

a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  line-height: 162%;
}

p {
  line-height: 162%;
  opacity: 0.3;
}

button {
  outline: none;
  border: none;
  font-weight: 600;
}

input {
  background-color: transparent;
  outline: none;
  border: none;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1156px;
}

.faq .faq__title {
  margin-bottom: 14px;
}

.faq .faq__block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.faq .faq__block .faq__left {
  width: 35%;
  font-size: 18px;
}

.faq .faq__block .faq__answers {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.faq .faq__block .faq__answers .faq__item {
  width: 100%;
}

.faq .faq__block .faq__answers .faq__item:not(:first-child) {
  border-top: 2px solid rgba(217, 217, 217, 0.05);
  padding-top: 40px;
}

.faq .faq__block .faq__answers .faq__item .faq__qest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.faq .faq__block .faq__answers .faq__item .faq__qest .qest__open {
  background-color: #E3B748;
  border-radius: 20px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.faq .faq__block .faq__answers .faq__item .faq__qest .qest__open:hover {
  background-color: #1D1D1D;
  color: #fff;
}

.faq .faq__block .faq__answers .faq__item .faq__dropdown-content {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.faq .faq__block .faq__answers .content-active .faq__dropdown-content {
  height: auto;
  opacity: 1;
  visibility: visible;
  padding-bottom: 40px;
}

.faq .faq__block .faq__answers .content-active .qest__open {
  opacity: 0;
  visibility: hidden;
}

.footer {
  padding: 120px 0px 100px 0px;
  background-color: #171717;
}

.footer .footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 105px;
}

.footer .footer__top .footer__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footer__top .footer__menu .menu__item .menu__link {
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
}

.footer .footer__top .footer__menu .menu__item .menu__link:hover {
  color: #E3B748;
}

.footer .footer__top .footer__menu .menu__item:not(:last-child) {
  margin-right: 80px;
}

.footer .footer__top .footer__social-links .link:not(:last-child) {
  margin-right: 23px;
}

.footer .footer__top .footer__social-links .link svg {
  transition: 0.3s;
}

.footer .footer__top .footer__social-links .link:hover svg {
  filter: brightness(0.4);
}

.footer .footer__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica Now Display;
}

.footer .footer__bottom .footer__copyright {
  margin-right: 25px;
}

.footer .footer__bottom .footer__info a {
  font-weight: 400;
}

.footer .footer__bottom .footer__info a:first-child {
  margin-right: 20px;
}

.header {
  background-color: #111111;
  padding: 60px 0px 168px 0px;
}

.header .header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header__top .mobile-menu {
  display: none;
}

.header .header__top .mobile-menu .mobile-menu__burger {
  fill: #fff;
}

.header .header__top .mobile-menu .mobile-menu__burger-active svg rect {
  transition: 0.3s;
}

.header .header__top .mobile-menu .mobile-menu__burger-active svg rect:nth-of-type(1) {
  transform: rotate(45deg) translate(16px, -13px);
}

.header .header__top .mobile-menu .mobile-menu__burger-active svg rect:nth-of-type(2) {
  display: none;
}

.header .header__top .mobile-menu .mobile-menu__burger-active svg rect:nth-of-type(3) {
  transform: rotate(-45deg) translate(-44px, -2px);
}

.header .header__top .mobile-menu .mobile-menu__wrapper {
  position: fixed;
  visibility: hidden;
  background: #1d1d1d;
  transform: translateX(100%);
  z-index: 9999;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  top: 125px;
  padding: 30px 40px;
  display: flex;
}

.header .header__top .mobile-menu .mobile-menu__wrapper .mobile-menu__list {
  margin-right: 100px;
}

.header .header__top .mobile-menu .mobile-menu__wrapper .mobile-menu__list .menu__item {
  margin: 10px 0px;
}

.header .header__top .mobile-menu .mobile-menu__wrapper .mobile-menu__list .menu__item .menu__link {
  font-size: 18px;
}

.header .header__top .mobile-menu .mobile-menu__wrapper .header__social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .header__top .mobile-menu .mobile-menu__wrapper .header__social-links .link {
  margin: 7px 0px;
}

.header .header__top .mobile-menu .active-menu {
  visibility: visible;
  transform: translateX(-90%);
}

.header .header__top .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header__top .menu .menu__item .menu__link {
  font-size: 16px;
  transition: 0.3s;
}

.header .header__top .menu .menu__item .menu__link:hover {
  color: #E3B748;
}

.header .header__top .menu .menu__item:not(:last-child) {
  margin-right: 41px;
}

.header .header__top .contact .contact__link {
  border: 2px solid #FFF;
  padding: 14px 35px;
  transition: 0.3s;
}

.header .header__top .contact .contact__link:hover {
  background-color: #fff;
  color: #1d1d1d;
}

.header .header__bottom {
  padding-top: 72px;
}

.header .header__bottom .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header__bottom .banner .banner__info {
  width: 45%;
}

.header .header__bottom .banner .banner__info .banner__title {
  margin-bottom: 35px;
}

.header .header__bottom .banner .banner__info .banner__text {
  font-size: 18px;
  margin-bottom: 35px;
}

.header .header__bottom .banner .banner__info .banner__form {
  border-radius: 40px;
  background: #292929;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px;
  position: relative;
}

.header .header__bottom .banner .banner__info .banner__form label {
  position: absolute;
  top: 22px;
  left: 25px;
  opacity: 0.1;
}

.header .header__bottom .banner .banner__info .banner__form .form__input {
  color: #757575;
  padding-left: 62px;
  font-size: 16px;
  margin-right: 43px;
}

.header .header__bottom .banner .banner__info .banner__form .form__link {
  border-radius: 40px;
  background: #E3B748;
  color: #000000;
  padding: 18px 32px;
  cursor: pointer;
  transition: 0.3s;
}

.header .header__bottom .banner .banner__info .banner__form .form__link:hover {
  background-color: #000000;
  color: #E3B748;
}

.introduce {
  padding: 150px 0px 170px 0px;
}

.introduce .introduce__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 206px;
}

.introduce .introduce__block .block__title {
  flex: 0 0 40%;
}

.introduce .introduce__block .block__title h2 {
  width: 85%;
  line-height: 162%;
}

.introduce .introduce__block .block__border {
  background-color: #6A6A6A;
  width: 1px;
  height: 100%;
  flex: 0 0 auto;
}

.introduce .introduce__block .block__text {
  flex: 0 0 40%;
}

.introduce .introduce__block .block__text .sub-title {
  font-size: 32px;
  line-height: 162%;
  font-weight: 600;
  margin-bottom: 15px;
}

.introduce .introduce__block .block__text p {
  font-size: 18px;
}

.practices {
  padding-bottom: 180px;
}

.practices .practices__block .block__title {
  text-align: center;
  margin-bottom: 65px;
}

.practices .practices__block .cases {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.practices .practices__block .cases .case__item {
  height: 340px;
  width: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 14px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.3s ease-out;
  background-position: center;
}

.practices .practices__block .cases .case__item h3 {
  margin-bottom: 32px;
  position: relative;
}

.practices .practices__block .cases .case__item h3:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  content: "";
  transition: width 0.3s ease-out;
}

.practices .practices__block .cases .case__item:hover {
  background-color: #fff;
}

.practices .practices__block .cases .case__item:hover h3:after {
  width: 100%;
}

.practices .practices__block .cases .wide {
  width: 68%;
}

.reviews {
  padding-bottom: 188px;
}

.reviews .reviews__block .block__title {
  margin-bottom: 105px;
  width: 40%;
}

.reviews .reviews__block .reviews__slider .slider__item {
  border-radius: 14px;
  border: 1.4px solid rgba(255, 255, 255, 0.1);
  padding: 36px 26px;
  margin: 0 15px;
  position: relative;
}

.reviews .reviews__block .reviews__slider .slider__item .slider__image {
  margin-bottom: 20px;
}

.reviews .reviews__block .reviews__slider .slider__item .slider__name {
  margin-bottom: 10px;
}

.reviews .reviews__block .reviews__slider .slider__item .slider__position {
  margin-bottom: 22px;
}

.reviews .reviews__block .reviews__slider .slider__item .mark {
  position: absolute;
  right: 40px;
  top: 28px;
}

.reviews .reviews__block .reviews__slider .slick-center {
  background: #2E2E2E;
}

.reviews .reviews__block .reviews__slider .slick-arrow {
  position: absolute;
  right: 0;
  top: -190px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 90px;
  height: 90px;
  font-size: 0;
  cursor: pointer;
  border-radius: 50px;
  background-color: #E3B748;
  transition: 0.3s;
  z-index: 15;
}

.reviews .reviews__block .reviews__slider .slick-arrow:hover {
  background-color: #fff;
}

.reviews .reviews__block .reviews__slider .slick-next {
  background-image: url("/images/right-arrow.png");
}

.reviews .reviews__block .reviews__slider .slick-prev {
  background-image: url("/images/right-arrow.png");
  transform: rotate(180deg);
  right: 108px;
}

.reviews .reviews__block .reviews__slider .slick-disabled {
  background-color: #fff;
}

.subscribe {
  padding-bottom: 240px;
}

.subscribe .container {
  width: 1245px;
}

.subscribe .subscribe__banner {
  background-color: rgba(71, 71, 71, 0.5);
  padding: 90px 0px;
}

.subscribe .subscribe__banner .subscribe__title {
  font-size: 55px;
  font-weight: 500;
  line-height: 137%;
  text-align: center;
  margin-bottom: 60px;
  font-family: Helvetica Now Display;
}

.subscribe .subscribe__banner .subscribe__title h2 {
  font-weight: 500;
}

.subscribe .subscribe__banner .subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe .subscribe__banner .subscribe__form input {
  background: #E4E4E4;
  padding: 19px 23px;
  margin-right: 9px;
  width: 276px;
}

.subscribe .subscribe__banner .subscribe__form input::-moz-placeholder {
  font-style: italic;
}

.subscribe .subscribe__banner .subscribe__form input::placeholder {
  font-style: italic;
}

.subscribe .subscribe__banner .subscribe__form #name {
  border-radius: 8px 0px 0px 8px;
}

.subscribe .subscribe__banner .subscribe__form #submit {
  border-radius: 0px 8px 8px 0px;
  background: #E3B748;
  padding: 18px 42px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Helvetica Now Display;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe .subscribe__banner .subscribe__form #submit:hover {
  background-color: #000;
  color: #E3B748;
}

.success {
  padding-bottom: 180px;
}

.success .success__block .block__title {
  text-align: center;
  margin-bottom: 97px;
}

.success .success__block .success__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.success .success__block .success__list .success__item {
  flex: 1 1 auto;
  border-radius: 14px;
  border: 1.4px solid rgba(255, 255, 255, 0.1);
  padding: 28px 24px 36px 24px;
}

.success .success__block .success__list .success__item .success__image {
  margin-bottom: 28px;
}

.success .success__block .success__list .success__item .success__name {
  margin-bottom: 26px;
}

.success .success__block .success__list .success__item .success__text {
  margin-bottom: 26px;
}

.success .success__block .success__list .success__item .success__link {
  padding: 13px 24px;
  border-radius: 23px;
  background: #E3B748;
  color: #000;
  transition: 0.3s;
  width: -moz-fit-content;
  width: fit-content;
}

.success .success__block .success__list .success__item .success__link:hover {
  background-color: #000;
  color: #E3B748;
}

.success .success__block .success__list .block__item_center {
  background-color: #2E2E2E;
  margin: 0px 30px;
}

.team {
  padding-bottom: 200px;
}

.team .team__block .team__title {
  text-align: center;
  margin-bottom: 110px;
}

.team .team__block .team__members {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 60px;
}

.team .team__block .team__members .team__item {
  flex: 1 1 345px;
  display: flex;
  align-items: center;
  padding: 18px 26px;
  transition: 0.3s;
  border-radius: 14px;
}

.team .team__block .team__members .team__item:hover {
  background: #E3B748;
}

.team .team__block .team__members .team__item:hover .team__info h3 {
  color: #373737;
}

.team .team__block .team__members .team__item:hover .team__info p {
  opacity: 0.4;
}

.team .team__block .team__members .team__item .team__image {
  width: 68px;
  height: 68px;
  margin-right: 22px;
  position: relative;
  overflow: hidden;
}

.team .team__block .team__members .team__item .team__image img {
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68px;
  height: 68px;
  -o-object-fit: cover;
  object-fit: cover;
}

.team .team__block .team__members .team__item .team__info h3 {
  margin-bottom: 6px;
}

.team .team__block .team__members .team__item .team__info span {
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 980px;
  }

  .faq .faq__block .faq__answers {
    width: 55%;
  }

  .practices .practices__block .cases .case__item {
    width: 35%;
  }

  .practices .practices__block .cases .wide {
    width: 63%;
  }

  .team {
    padding-bottom: 100px;
  }

  .team .team__block .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 670px;
  }

  .faq .faq__title {
    text-align: center;
  }

  .faq .faq__block {
    flex-direction: column;
  }

  .faq .faq__block .faq__left {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }

  .faq .faq__block .faq__answers {
    width: 100%;
  }

  .footer {
    padding: 100px 0px;
  }

  .footer .footer__top {
    margin-bottom: 60px;
  }

  .footer .footer__top .footer__menu {
    display: none;
  }

  .header {
    padding: 60px 0 100px 0;
  }

  .header .header__bottom .banner {
    flex-direction: column;
  }

  .header .header__bottom .banner .banner__info {
    width: 100%;
  }

  .header .header__bottom .banner .banner__info .banner__form {
    width: 100%;
  }

  .header .header__bottom .banner .banner__info .banner__form form {
    display: flex;
    justify-content: space-between;
  }

  .introduce {
    padding: 90px 0px;
  }

  .introduce .introduce__block {
    height: 206px;
  }

  .introduce .introduce__block .block__title {
    flex: 0 0 45%;
  }

  .introduce .introduce__block .block__title h2 {
    line-height: 130%;
  }

  .introduce .introduce__block .block__text {
    flex: 0 0 45%;
  }

  .practices {
    padding-bottom: 100px;
  }

  .practices .practices__block .cases .case__item {
    width: 100%;
  }

  .practices .practices__block .cases .wide {
    width: 100%;
  }

  .reviews {
    padding-bottom: 100px;
  }

  .subscribe {
    padding-bottom: 100px;
  }

  .subscribe .container {
    padding: 0;
  }

  .subscribe .subscribe__banner .subscribe__form {
    flex-direction: column;
  }

  .subscribe .subscribe__banner .subscribe__form input {
    width: 50%;
    border-radius: 8px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .subscribe .subscribe__banner .subscribe__form #name {
    border-radius: 8px;
  }

  .subscribe .subscribe__banner .subscribe__form #submit {
    border-radius: 8px;
  }

  .success {
    padding-bottom: 100px;
  }

  .success .success__block .success__list {
    flex-direction: column;
  }

  .success .success__block .success__list .block__item_center {
    margin: 15px 0px;
  }

  .team .team__block .team__members {
    gap: 10px;
  }

  .team .team__block .team__members .team__item {
    flex: 1 1 250px;
    border-bottom: 1px solid #E3B748;
  }
}

@media screen and (max-width: 540px) {
  .container {
    width: auto;
    padding: 0px 15px;
  }

  h1 {
    font-size: 58px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 20px;
  }

  .footer {
    padding: 70px 0px;
  }

  .footer .footer__bottom {
    flex-direction: column;
  }

  .footer .footer__bottom .footer__copyright {
    margin-right: 0;
  }

  .header {
    padding: 60px 0;
  }

  .header .header__top .menu {
    display: none;
  }

  .header .header__top .mobile-menu {
    display: block;
  }

  .header .header__bottom .banner .banner__image {
    text-align: center;
  }

  .header .header__bottom .banner .banner__image img {
    max-width: 100%;
    width: 80%;
  }

  .header .header__bottom .banner .banner__info .banner__form {
    background-color: transparent;
  }

  .header .header__bottom .banner .banner__info .banner__form form {
    flex-direction: column;
  }

  .header .header__bottom .banner .banner__info .banner__form form .form__input {
    background-color: #292929;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 17px 0px;
    border-radius: 40px;
    padding-left: 50px;
  }

  .introduce {
    padding: 80px 0px;
  }

  .introduce .introduce__block {
    flex-direction: column;
    height: auto;
  }

  .introduce .introduce__block .block__border {
    width: 100%;
    height: 1px;
    margin: 10px 0px;
  }

  .introduce .introduce__block .block__title {
    flex: 0 0 45%;
    text-align: center;
  }

  .introduce .introduce__block .block__title h2 {
    width: auto;
    font-size: 48px;
  }

  .introduce .introduce__block .block__text .sub-title {
    font-size: 28px;
  }

  .introduce .introduce__block .block__text p {
    font-size: 16px;
  }

  .practices {
    padding-bottom: 70px;
  }

  .reviews {
    padding-bottom: 70px;
  }

  .reviews .reviews__block .block__title {
    margin-bottom: 50px;
    width: 100%;
  }

  .reviews .reviews__block .reviews__slider .slider__item .mark {
    display: none;
  }

  .reviews .reviews__block .reviews__slider .slick-arrow {
    top: 15px;
    right: 25px;
    width: 55px;
    height: 55px;
  }

  .reviews .reviews__block .reviews__slider .slick-prev {
    right: 110px;
  }

  .subscribe {
    padding-bottom: 70px;
  }

  .subscribe .subscribe__banner .subscribe__title {
    line-height: 100%;
    margin-bottom: 25px;
  }

  .subscribe .subscribe__banner .subscribe__form input {
    width: 90%;
  }

  .success {
    padding-bottom: 70px;
  }

  .success .success__block .block__title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 18px;
  }

  .header .header__top .contact {
    display: none;
  }

  .header .header__top .mobile-menu .active-menu {
    width: 425px;
    transform: translateX(-88%);
  }
}

@media screen and (max-width: 380px) {
  .footer {
    padding: 70px 0px;
  }

  .footer .footer__top {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .footer .footer__top .footer__logo {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 375px) {
  .header .header__top .mobile-menu .active-menu {
    width: 375px;
    transform: translateX(-87%);
  }
}

@media screen and (max-width: 320px) {
  .header .header__top .mobile-menu .active-menu {
    width: 320px;
    transform: translateX(-84%);
  }

  .reviews .reviews__block .reviews__slider .slick-prev {
    right: 80px;
  }
}