<section class="success">
    <div class="container">
        <div class="success__block">
            <div class="block__title">
                <h2>Why Choose us?</h2>
            </div>
            <div class="success__list">
                <div class="success__item">
                    <div class="success__image">
                        <img src="images/gift.png" class="image" alt="">
                    </div>
                    <div class="success__name">
                        <h3>98% Success Rate</h3>
                    </div>
                    <div class="success__text">
                        <p>Amet minim mollit non deserunt ullamco est
                            sit aliqua dolor do amet sint. Velit officia
                            consequatduis enim velit mollit Exer.</p>
                    </div>
                    <a href="#" class="success__link">Read More</a>
                </div>
                <div class="success__item block__item_center">
                    <div class="success__image">
                        <img src="images/gift.png" class="image" alt="">
                    </div>
                    <div class="success__name">
                        <h3>98% Success Rate</h3>
                    </div>
                    <div class="success__text">
                        <p>Amet minim mollit non deserunt ullamco est
                            sit aliqua dolor do amet sint. Velit officia
                            consequatduis enim velit mollit Exer.</p>
                    </div>
                    <a href="#" class="success__link">Read More</a>
                </div>
                <div class="success__item">
                    <div class="success__image">
                        <img src="images/gift.png" class="image" alt="">
                    </div>
                    <div class="success__name">
                        <h3>98% Success Rate</h3>
                    </div>
                    <div class="success__text">
                        <p>Amet minim mollit non deserunt ullamco est
                            sit aliqua dolor do amet sint. Velit officia
                            consequatduis enim velit mollit Exer.</p>
                    </div>
                    <a href="#" class="success__link">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
