<section class="introduce">
    <div class="container">
        <div class="introduce__block">
            <div class="block__title">
                <h2>Let’s Introduce Ourself</h2>
            </div>
            <div class="block__border"></div>
            <div class="block__text">
                <div class="sub-title">
                    Criminal Lawyer
                </div>
                <p>Amet minim mollit non deserunt ullamco est<br>
                    sit aliqua dolor do amet sint. Velit officia consequatduis<br>
                    enim velit mollit Exercitation.</p>
            </div>
        </div>
    </div>
</section>
