<section class="subscribe">
    <div class="container">
        <div class="subscribe__banner">
            <div class="subscribe__title">
                <h2>Subscribe Our Newsletter</h2>
            </div>
            <form action="#" class="subscribe__form">
                <input type="text" name="name" id="name" placeholder="Name:">
                <input type="text" name="email" id="email" placeholder="Enter your Email">
                <button type="submit" id="submit">Send</button>
            </form>
        </div>
    </div>
</section>
