<section class="team">
    <div class="container">
        <div class="team__block">
            <div class="team__title">
                <h2>Our Team</h2>
            </div>
            <div class="team__members">
                <a href="#" class="team__item">
                    <div class="team__image">
                        <img src="images/team-1.png" alt="">
                    </div>
                    <div class="team__info">
                        <h3>Danial Def</h3>
                        <span>301 Cases</span>
                    </div>
                </a>
                <a href="#" class="team__item">
                    <div class="team__image">
                        <img src="images/team-2.png" alt="">
                    </div>
                    <div class="team__info">
                        <h3>Sanfole</h3>
                        <span>850 Cases</span>
                    </div>
                </a>
                <a href="#" class="team__item">
                    <div class="team__image">
                        <img src="images/team-3.jpg" alt="">
                    </div>
                    <div class="team__info">
                        <h3>Cesforila</h3>
                        <span>470 Cases</span>
                    </div>
                </a>
                <a href="#" class="team__item">
                    <div class="team__image">
                        <img src="images/team-4.png" alt="">
                    </div>
                    <div class="team__info">
                        <h3>Colleen</h3>
                        <span>180 Cases</span>
                    </div>
                </a>
                <a href="#" class="team__item">
                    <div class="team__image">
                        <img src="images/team-5.jpg" alt="">
                    </div>
                    <div class="team__info">
                        <h3>Haldone</h3>
                        <span>212 Cases</span>
                    </div>
                </a>
                <a href="#" class="team__item">
                    <div class="team__image">
                        <img src="images/team-6.jpg" alt="">
                    </div>
                    <div class="team__info">
                        <h3>Nik Jeo</h3>
                        <span>350 Cases</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
